{% load static %} {% load humanize %}
<section class="product-section" style="background-color: #eee">
  {% include 'pages/searchbar.html' %}
  <div class="text-center py-2">
    <div class="row">
      {% for product in approved_products %}
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="shadow">
          <div class="card p-3">
            <div class="image-container">
              <img src="{{ product.product_image.url }}" />
            </div>
            <div class="card-body text-start">
              <a href="#" class="">
                <h5 class="card-title">{{ product.product_name }}</h5>
              </a>
              <div class="amount-location-category">
                <div class="amount-category d-flex justify-content-between align-items-center">
                    <p class="amount">₦{{ product.price|intcomma }}</p>
                    <span><img src="{% static 'img/social/location-pin.png' %}" alt="location icon"> {{ product.location }}</span>
                </div>
                <p class="condition">Condition: {{ product.condition }}</p>
              </div>
              <a
                href="#"
                class="btn btn-outline-primary text-white"
                style="background-color: #422251; outline: none; border: none"
                >Add to Cart</a
              >
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

